article {
    background: rgb(238, 238, 238);
    padding: 0 70px;
}

article div.image-section {
    width: 400px;
    height: 500px;
}

img {
    width: 50%;
    height: auto;
}

p {
    color: rgb(51, 51, 51);
}
